{
  "classes" : {
    "learn.CelsiusConverterGUI" : "CelsiusConverterGUI",
    "java.awt.event.ActionListener" : "ActionListener",
    "java.awt.Container" : "AWTContainer",
    "java.awt.Component" : "AWTComponent",
    "java.awt.event.ActionEvent" : "ActionEvent",
    "javax.swing.AbstractButton" : "AbstractButton",
    "javax.swing.JLabel" : "JLabel",
    "javax.swing.JButton" : "JButton",
    "javax.swing.JComponent" : "JComponent",
    "javax.swing.JLabel" : "JLabel",
    "javax.swing.text.JTextComponent" : "JTextComponent",
    "javax.swing.JTextField" : "JTextField",
    "javax.swing.WindowConstants" : "WindowConstants",
    "java.awt.Frame" : "Frame",
    "javax.swing.JFrame" : "JFrame",
    "javax.swing.GroupLayout" : "GroupLayout",
    "javax.swing.GroupLayout$Alignment" : "GroupLayout.Alignment",
    "javax.swing.GroupLayout$Group" : "GroupLayout.Group",
    "javax.swing.GroupLayout$ParallelGroup" : "GroupLayout.ParallelGroup",
    "javax.swing.GroupLayout$SequentialGroup" : "GroupLayout.SequentialGroup",
    "javax.swing.LayoutStyle" : "LayoutStyle",
    "javax.swing.LayoutStyle$ComponentPlacement" : "LayoutStyle.ComponentPlacement",
    "java.awt.LayoutManager" : "LayoutManager",
    "javax.swing.SwingConstants" : "SwingConstants",
    "java.awt.Window" : "Window"
  }
}
